.customStyle {
  background: #6366f1;
  filter: blur(70px);
}

.roundedTop ::hover {
  border-radius: 0rem 1.875rem 0rem 6.25rem;
  position: absolute;
  top: 0;
  right: 0;
  border-radius-top: 151606rem;
  width: 7.75rem;
  height: 6.75rem;
  background-image: linear-gradient(to bottom left, #6366f1 #141416);
}
.roundedBottom {
  border-radius: 0rem 6.25rem 1.875rem 0rem;
}
