@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  border-bottom: 2px solid #10b981;
}
.swiper-pagination-bullet {
  background-color: #3b82f6; /* Tailwind's bg-blue-500 */
  width: 12px; /* Adjust the size as needed */
  height: 12px; /* Adjust the size as needed */
  border-radius: 50%; /* Make it circular */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #1d4ed8; /* Tailwind's bg-blue-700 */
}
